
<h1 class="ml-6 mt-6 title is-2">Entries</h1>

<%= link_to 'New Entry', new_entry_path, class: "button ml-6 is-success is-outlined"%>


<table class="table ml-6 mr-6 is-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Description</th>
      <th>Status</th>
      <th>Case</th>
      <th>Team</th>
      <th>Time taken</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr class="mb-2">
        <td><%= entry.id %></td>
        <td>
          <% User.where(id: entry.user_id).each do |user| %>
            <%= user.email %>
            <% end %>
        </td>
        <td><%= entry.description %></td>
        <td>
          <% if entry.status == "Completed" %>
            <span class="has-background-success has-text-weight-bold"><%= entry.status  %></span>
          <% elsif entry.status == "On-hold" %>
            <span class="has-background-warning has-text-weight-bold"><%= entry.status  %></span>
          <% else entry.status == "Ongoing" %>
            <span class="has-background-info has-text-weight-bold"><%= entry.status  %></span>
          <% end %>
        </td>
        <td><%= entry.case %></td>
        <td><%= entry.team %></td>
        <td><%= entry.time_taken %> minutes</td>

        <td><%= link_to entry_path(entry), :title => "View this entry" do %>
            <%= fa_icon('eye', type: :solid, style: 'color: Purple') %>
          <% end  %>
        </td>

        <td><%= link_to edit_entry_path(entry), :title => "Edit this entry" do %>
            <%= fa_icon('edit', style: 'color: Purple') %>
          <% end %>
        </td>

        <td><%= link_to entry_path(entry), method: :delete, data: { confirm: 'Are you sure?' },
                :title => "Delete this entry" do %>
              <%= fa_icon('trash-alt', style: 'color: Purple') %>
            <% end %>

            </td>

      </tr>

    <% end %>
  </tbody>
  <tfoot>

  </tfoot>

</table>
<br>
<%= link_to 'New Entry', new_entry_path, class: "button ml-6 mb-6 is-success is-outlined"%>
<br>
<br>
<br>
